<h2 class="text-center padded"><%= @cocktail.name %></h2>

<div class="text-center padded">

<%= render 'doses/index'%>
<%= render 'doses/new'%>
<%= link_to "return to list", cocktails_path, class: "btn btn-success" %>

</div>
